.section.discover-our-products-card-container {
  padding: 70px 0;
}

.section.discover-our-products-card-container > div > h2 {
  font-family: robotolight;
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
}

.section.discover-our-products-card-container > div > h2 strong {
  color: var(--brand-primary);
}

.section.discover-our-products-card-container > div > p {
  color: var(--dim-gray);
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  text-align: center;
}

.cards.discover-our-products-card {
  margin-top: 40px;
}

.cards.discover-our-products-card ul {
  display: flex;
  column-gap: 25px;
       column-gap: 25px;
}

.cards.discover-our-products-card ul li {
  width: 20.9%;
  border-radius: 5px;
  margin: 20px 12px 0;
  box-shadow: 0 0 20.41px 0 rgb(0 0 0 / 10.2%);
  height: 100%;
  cursor: pointer;
  text-align: center;
  padding: 16px 20px 20px;
}

.cards.discover-our-products-card ul li > div:nth-of-type(1) {
  text-align: end;
}

.cards.discover-our-products-card ul li > div:nth-of-type(2) img {
  width: 104px;
  height: 100px;
}

.cards.discover-our-products-card ul li > div:nth-of-type(3) {
  margin-top: 20px;
}

.cards.discover-our-products-card ul li > div:nth-of-type(3) > h3 {
  font-family: robotoregular;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
}

.cards.discover-our-products-card ul li > div:nth-of-type(3) > p {
  font-family: robotolight;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.6px;
  text-align: center;
  padding-bottom: 0;
  color: #20252b;
}

.cards.discover-our-products-card ul li > div:nth-of-type(3) > p em {
  font-family: robotomedium;
  font-size: 14px;
  font-weight: bold;
  line-height: 19.6px;
}