.glider.stands-with-you {
    [data-cloumn-wrapper="cloumn-wrapper"] {
        display: flex;
        align-items: center;
        padding: 50px 60px 70px 60px;
        column-gap: 30px;

        [data-cloumn-index="cloumn-0"] {
            width: 20%;

            img {
                width: 145px;
                height: 145px;
            }
        }

        [data-cloumn-index="cloumn-1"] {
            >p:nth-of-type(1) {
                font-family: "robotoregular";
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                margin: unset;
                padding-bottom: 12px;
            }

            >p:nth-of-type(2) {
                font-family: "robotolight";
                font-size: 14px;
                font-weight: 300;
                line-height: 19.6px;
                text-align: left;
                color: #20252b;
                margin: unset;
                padding-bottom: 24px;
            }

            >p:nth-of-type(3) {
                max-width: 162px;
                width: 100%;
                padding: 13px 0;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 767.99px) {
    .glider.stands-with-you {
        [data-cloumn-wrapper="cloumn-wrapper"] {
            flex-direction: column;
            padding: 50px 16px 70px 16px;

            [data-cloumn-index="cloumn-0"] {
                align-self: baseline;
                width: unset;
            }

            [data-cloumn-index="cloumn-1"] {
                align-self: baseline;
                width: unset;

                >p:nth-of-type(1) {
                    font-family: "robotoregular";
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: left;
                    margin: unset;
                    padding-bottom: 12px;
                }

                >p:nth-of-type(2) {
                    font-family: "robotolight";
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 19.6px;
                    text-align: center;
                    color: #20252b;
                    margin: unset;
                    padding-bottom: 24px;
                }

                >p:nth-of-type(3) {
                    max-width: unset;
                    width: 100%;
                    padding: 13px 0;
                    text-align: center;
                }
            }
        }
    }
}