.getquoteform-container{
    .getquoteform-wrapper{
        .getquoteform.block{
            background-color: #404040;
            max-width: 760px;
            margin: auto;
            border-radius: 0 0 40px 40px;
        
            form{
                display: flex;
                justify-content: center;
                column-gap: 20px;
                padding-top: 18px;
                padding-bottom: 8px;
                align-items: center;
                .field-wrapper{
                    display: flex;
                    flex-direction: column;
                    max-width: 147.5px;
                    row-gap: 10px;

                    label{
                        color: #fff ;
                        font-size: 14px;
                         font-family: "robotoregular";
                    }
                    input[type='text'],input[type='number']{
                         font-family: "robotoregular";
                        line-height: 23px;
                        background: 0;
                        border: 0;
                        outline: 0;
                        border-bottom: 1px solid #ccc;
                        color: #fff ;
                        font-family: "robotoregular";
                        padding-bottom: 7px;
                        width: 100%;
                        border-radius: 0;
                        margin-bottom: 20px;
                        
                    }
                    button{
                        padding: 12px 20px;
                        min-width: 135px;
                        background-color: #c21b17;
                        color: #fff;
                        border-radius: 5px;
                        outline: 0;
                        border: 0;
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 17px;
                        font-family: "robotoregular";
                        font-weight: 800;
                        text-align: center;
                    }
                }
            }
        }   
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}