.block.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-white);
    padding: 12px 0 14px;
    box-shadow: 0 0 10px 0 #00000012;
    transition: all .3s linear;

    >div:first-child {
        display: none;
    }

    >div {
        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >ul {
                display: contents;
            }
        }
    }
}