.modal.login-modal .dialog {
  top: 8.6%;
  background-color: #fff;
  padding: 18px 20px 30px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 32px 0 rgba(151, 151, 151, 0.1019607843);
  min-width: 333px;
  left: 70%;
}
.modal.login-modal .dialog button {
  display: none;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper {
  padding: 0;
  margin: 0;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper .cards.login-modal-container > ul > li {
  position: relative;
  padding: 20px 0;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-top: 1px solid #ebebeb;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper .cards.login-modal-container > ul > li > div:nth-of-type(1) > p span img {
  width: 32px;
  height: 33px;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper .cards.login-modal-container > ul > li > div:nth-of-type(2) > p:nth-of-type(1) {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-black);
  font-family: Roboto-Medium;
  font-weight: 400;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper .cards.login-modal-container > ul > li > div:nth-of-type(2) > p:nth-of-type(2) {
  margin-top: 4px;
  color: #858585;
  font-family: Roboto-Light;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper .cards.login-modal-container > ul > li > div:nth-of-type(2) > p:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper .cards.login-modal-container > ul > li > div:nth-of-type(2) > p:nth-of-type(3) a {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper .cards.login-modal-container > ul > li:first-child {
  border-top: unset;
  padding-top: unset;
}
.modal.login-modal .dialog .modal-content .section.login-modal .cards-wrapper .cards.login-modal-container > ul > li:last-child {
  padding-bottom: unset;
}

@media screen and (max-width: 767.99px) {
  .modal.login-modal .dialog {
    width: 100%;
    left: unset;
    top: 61px;
  }
}
.modal.search-modal .dialog {
  width: 700px;
  left: 0;
  top: 0;
  min-width: unset;
  padding: 0;
  margin: 0 auto;
}
.modal.search-modal .dialog button {
  display: block;
  top: 10px;
  width: 30px;
  height: 30px;
}
.modal.search-modal .dialog .modal-content {
  width: 100%;
}
.modal.search-modal .dialog .modal-content .section.form-container .form-wrapper {
  padding: 10px 0;
}
.modal.search-modal .dialog .modal-content .section.form-container .form-wrapper .block.form form > div label {
  display: none;
}
.modal.search-modal .dialog .modal-content .section.form-container .form-wrapper .block.form form > div input {
  font-size: 20px;
  line-height: 23px;
  background: 0;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  color: #20252b;
  font-family: Roboto-Light;
  padding-bottom: 7px;
  width: 100%;
  border-radius: 0;
  max-width: 95%;
}
.modal.search-modal .dialog .modal-content .section.form-container .default-content-wrapper {
  display: none;
  padding: 0;
  padding: 20px;
}

@media screen and (max-width: 767.99px) {
  .modal.search-modal .dialog {
    width: 100%;
    top: 61px;
  }
  .modal.search-modal .dialog .modal-content .section.form-container .form-wrapper .block.form form > div input {
    max-width: 90%;
    margin-left: 8px;
  }
}/*# sourceMappingURL=custom-modal.css.map */